<%- include('partials/header') %>
<link rel="stylesheet" type="text/css" href="style/create_a_game.css">
<link rel="stylesheet" type="text/css" href="style/main.css">
<main>
    <div class="title">
        <h2 class="game-name" id="game-name"><%= game_name %></h2>
    </div>
    <div class="game-creation" id="game-creation">
        <div id="question-container" class="question-container">
            <button class="button" id="open-question-modal">
                <img src="style/svgs/right-arrow-svgrepo-com.svg" alt="Info" width="24" height="24">
            </button>
            <div id="question-modal" class="flexing-modal">
                <div class="flexing-modal-content" id="question-modal-content">
                    <span class="close" id="close-question-modal">&times;</span>
                    <h2><%= select_question %></h2>
                    <div id="question-list">
                        <div class="question-item" id="question1"><%= question %> 1</div>
                    </div>
                    <button class="button" id="add-question"><%= add_question %></button>
                </div>
            </div>
        </div>
        <div class="resizer"></div>
        <div class="resizable-right" id="main-container">
            <p id="question-not-selected" class="question-not-selected"><%= question_not_selected %></p>
            <div id="game-info-container">
                <button class="button" id="game-info-button">
                    <img src="style/svgs/info-button-svgrepo-com.svg" alt="Info" width="24" height="24">
                </button>
                <div id="game-info-modal" class="modal">
                    <div class="modal-content" id="game-info-modal-content">
                        <span class="close" id="close-game-info-modal">&times;</span>
                        <h2><%= editor_guide %></h2><br>
                        <p><%= editor_guide_rename %></p><br>
                        <p><%= editor_guide_add_question %></p><br>
                        <p><%= editor_guide_add_image %></p><br>
                        <p><%= editor_guide_question_settings %></p><br>
                        <p><%= editor_guide_game_settings %></p><br>
                        <p><%= editor_guide_done %></p>
                    </div>
                </div>
            </div>
            <div id="game-settings-container">
                <button class="button" id="game-settings-button">
                    <img src="style/svgs/settings-gear-svgrepo-com.svg" alt="Info" width="24" height="24">
                </button>
                <div id="game-settings-modal" class="modal">
                    <div class="modal-content" id="game-settings-modal-content">
                        <span class="close" id="close-game-settings-modal">&times;</span>
                        <h2><%= game_settings %></h2>
                        <div class="relative inline-block" style="width: 100%;">
                            <input type="text" id="game-name-input" placeholder="<%= give_game_name %>" value="<%= game_name %>">
                            <div id="char-count-name" class="absolute">80</div>
                        </div>
                        <div class="relative inline-block" style="width: 100%;">
                            <textarea id="game-description-input" placeholder="<%= give_game_description %>"></textarea>
                            <div id="char-count-description" class="absolute">60</div>
                        </div>
                        <label for="file-upload" id="custom-file-upload" class="custom-file-upload">
                            <i class="image-upload" id="image-upload"><%= image_upload %></i>
                        </label>
                        <input type="file" class="file-upload" id="file-upload" accept=".jpg,.jpeg,.png,.bmp,.webp,.svg,.apng,.avif" style="display: none;">
                        <div id="image-name-container" class="image-name-container" style="display: none;">
                            <span class="close" id="close-image-name-container">&times;</span>
                            <span id="image-name"></span>
                        </div>
                        <img class="uploaded-image" id="uploaded-image"/>
                        <button class="button" id="save-game-settings"><%= save_game_settings %></button>
                        <div id="image-modal" class="modal" style="display: none;">
                            <span class="close" id="close-image-modal">&times;</span>
                            <img class="image-modal-content" id="fullscreen-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    var question = "<%= question %>";
    var image_upload = "<%= image_upload %>";
    var answer = "<%= answer %>";
    var question_settings = "<%= question_settings %>";
    var give_game_name = "<%= give_game_name %>";
    var game_name = "<%= game_name %>";
    var give_game_description = "<%= give_game_description %>";
    var save_game = "<%= save_game %>";
    var question_time = "<%= question_time %>";
    var answer_time = "<%= answer_time %>";
    var answer_count = "<%= answer_count %>";
    var answer_points = "<%= answer_points %>";
    var save_settings = "<%= save_settings %>";
	var untitled = "<%= untitled %>";
</script>

<script type="module" src="script/game-creating/modals-outside-click-logic.js"></script>
<script type="module" src="script/game-creating/question-settings-modal.js"></script>
<script type="module" src="script/game-creating/question-modal-creation.js"></script>
<script type="module" src="script/game-creating/question-image-upload.js"></script>
<script type="module" src="script/game-creating/question-edit-page.js"></script>
<script type="module" src="script/game-creating/game-settings.js"></script>
<script src="script/game-creating/question-settings-sliders.js"></script>
<script src="script/game-creating/modal-resizer.js"></script>
<script src="script/game-creating/game-info-modal.js"></script>
<%- include('partials/footer') %>