<%- include('partials/header') %>
<main>
    <div id="home-container">
        <div id="create-game-container" class="create-game">
            <h2><%= create_lobby %></h2>
            <button class="button" id="create-button"><%= create %></button>
        </div>
        <div id="join-game-container" class="join-game">
            <h2><%= join_game %></h2>
            <form method="get">
                <input type="number" id="lobby-code" placeholder="<%= input_code %>">
                <input type="submit" value="<%= join_game %>" class="button" id="join-button">
            </form>
        </div>
    </div>

    <div id="log-modal" class="modal">
        <span id="log-close-button" class="close">&times;</span>
        <div class="log-modal-content">
            <div id="log-in-content">
                <h2><%= log_title %></h2>
                <p><%= log_name %></p>
                <p><%= log_password %></p> 
                <button class="button" id="log-in-button"><%= log_button %></button>
            </div>

            <div id="sign-up-content">
                <h2><%= sign_title %></h2>
                <p><%= sign_name %></p>
                <p><%= sign_email %></p>
                <p><%= sign_password %></p>
                <button class="button" id="sign-up-button"><%= sign_button %></button>
        </div>
      
      </div>

</main>
<%- include('partials/footer') %>