<%- include('partials/header') %>
<link rel="stylesheet" href="style/home.css">
<main>
    <div id="main-container">
        <div id="home-container">
            <div id="create-game-container" class="create-game">
                <h2><%= create_lobby %></h2>
                <button class="button" id="create-button"><%= create %></button>
            </div>
            <div id="join-game-container" class="join-game">
                <h2><%= join_game %></h2>
                <form method="get">
                    <input type="number" id="lobby-code" placeholder="<%= input_code %>">
                    <input type="button" value="<%= join_game %>" class="button" id="join-button" onclick="setDisplayId()">
                </form>
            </div>
        </div>
        <%- include('modal/find_subject') %>
        <%- include('modal/create_lobby') %>
        <%- include('modal/join_lobby') %>
        <%- include('modal/login') %>
        <%- include('modal/user') %>
        <%- include('modal/admin_settings') %>
    </div>

</main>
<%- include('partials/footer') %>