<%- include('partials/header') %>
<link rel="stylesheet" href="style/home.css">
<main>
    <div id="main-container">
        <div id="home-container">
            <div id="create-game-container" class="create-game">
                <h2><%= create_lobby %></h2>
                <button class="button" id="create-button"><%= create %></button>
            </div>
            <div id="join-game-container" class="join-game">
                <h2><%= join_game %></h2>
                <form method="get">
                    <input type="number" id="lobby-code" placeholder="<%= input_code %>">
                    <input type="submit" value="<%= join_game %>" class="button" id="join-button">
                </form>
            </div>
        </div>
        <%- include('find_subject') %>
        <%- include('create_lobby') %>
    </div>

    <!--Log in modal-->
    <div id="log-modal" class="modal">
        <span id="log-close-button" class="close">&times;</span>
        <div class="log-modal-content">
            <form id="log-in-content" onsubmit="return false;">
                <h2><%= log_title %></h2>
                <p><%= log_name %></p><input type="text" class="log_text" name="input_name" id="login-username" min="4" max="14"> <p style="display: none;" id="wrongNameLogin"> <%=wrongNameLogin%> </p> <p style="display: none;" id="emptyNameLogin"> <%=emptyNameLogin%> </p>
                <p><%= log_password %></p> <input type="password" class="log_text" name="input_log" id="login-password"> <p style="display: none;" id="wrongPasswordLogin"> <%=wrongPasswordLogin%> </p> <p style="display: none;" id="emptyPasswordLogin"> <%=emptyPasswordLogin%> </p>
                <input type="submit" class="button" id="log-in-button" value="<%= log_button %>" >
            </form>
    <!--Sign up modal-->
            <form id="sign-up-content" onsubmit="return false;">
                <h2><%= sign_title %></h2>
                <p><%= sign_name %></p> <input type="text" class="sign_text" name="name_sign" id="signup-username" min="4" max="14"> <p style="display: none;" id="wrongName"><%=wrongNameSignup%></p> <p style="display: none;" id="emptyName"><%=emptyNameSignup%></p>
                <p><%= sign_email %></p> <input type="text" class="sign_text" name="signup-email" id="signup-email"> <p style="display: none;" id="wrongEmail"><%=wrongEmailSignup%></p> <p style="display: none;" id="emptyEmail"><%=emptyEmailSignup%></p>
                <p><%= sign_password %></p> <input type="password" class="sign_text" name="input_sign" id="signup-password"> <p style="display: none;" id="wrongPasswordSignup"><%=wrongPasswordSignup%></p> <p style="display: none;" id="emptyPasswordSignup"><%=emptyPasswordSignup%></p>
                <input type="submit" class="button" id="sign-up-button" value="<%= sign_button %>" >
            </form>
        </div>
    </div>

</main>
<%- include('partials/footer') %>
<script src="script/script.js"></script>