<%- include('partials/header') %>
<link rel="stylesheet" href="style/home.css">
<main>
    <div id="main-container">
        <div id="home-container">
            <div id="create-game-container" class="create-game">
                <h2><%= create_lobby %></h2>
                <button class="button" id="create-button"><%= create %></button>
            </div>
            <div id="join-game-container" class="join-game">
                <h2><%= join_game %></h2>
                <form method="get">
                    <input type="number" id="lobby-code" placeholder="<%= input_code %>">
                    <input type="submit" value="<%= join_game %>" class="button" id="join-button">
                </form>
            </div>
        </div>
        <%- include('find_subject') %>
        <%- include('create_lobby') %>
    </div>

    <!--Sign up/Log in modal-->
    <div id="log-modal" class="modal">
        <span id="log-close-button" class="close">&times;</span>
        <div class="log-modal-content">
            <form id="log-in-content">
                <h2><%= log_title %></h2>
                <p><%= log_name %></p><input type="text" class="log_text" name="input_name" min="4" max="14 required">
                <p><%= log_password %></p> <input type="password" class="log_text" name="input_log" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{6,}$">
                <button class="button" id="log-in-button"><%= log_button %></button>
            </form>

            <form id="sign-up-content">
                <h2><%= sign_title %></h2>
                <p><%= sign_name %></p> <input type="text" class="sign_text" name="name_sign" min="4" max="14" required>
                <p><%= sign_email %></p>
                <input type="email" class="sign_text" name="signup-email" id="signup-email" required>                <p><%= sign_password %></p> <input type="password" class="sign_text" name="input_sign" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{6,}$">
                <input type="button" onclick="validateEmail()" class="button" id="sign-up-button" value="<%= sign_button %>">
            </form>
        </div>
    </div>

</main>
<%- include('partials/footer') %>
<script src="script/script.js"></script>